html, body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  font-size: 16px;
  font-family: 'Palanquin', sans-serif;
}


.main{
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/newsroom/bass-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	height: 31.25rem;
}

header{
  background-color: black;
}

.header img{
  width: 200px;
  padding: 1rem;
}


input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    letter-spacing: 0.05rem;
}

button{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #1a77ff;
  color: #fff;
}

input:hover{
  border-bottom: 1px solid #1a77ff;
}

.form-inline{
  margin: 18px 0;
}

.main h1{
  font-size: 3.75rem;
  font-weight: 700;
}

.main h2{
  padding-top: 1.5rem;
  font-size: 1rem;
  line-height: 2;
  font-weight: 100;
}

.main .col-md-5{
  padding-top: 1rem;
}

span{
  border-bottom: 4px solid #1a77ff;
}

.menu{
  background-color: #121A3E;
}

.supporting{
  margin: 5rem auto;
}

.supporting .col-md-4{
  background-color: #152230;
  color: #fff;
  padding-bottom: 2rem;
}

.supporting .col-md-8{
  background-color: #fff;
  padding-bottom: 2rem;
}

.supporting h5{
  color: #666666;
}

.supporting h4{
  padding: 0 0 1.5rem 0;
}

.supporting h3{
  font-weight: 700;
  padding: 2rem 0 2rem 0;
}

.supporting .row{
  padding: 0;
  margin: 0;
}

.menu li{
  color: #fff;
  display: inline-block;
  padding: 0 2rem;
  margin: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.active{
  background-color: #1a77ff;
}

.nav{
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li:hover{
  background-color: #1a77ff;
}

.main{
  color: #fff;
}

.main h1{
  font-size:
}

.register img{
  margin-bottom: 5rem;
}

.footer ul{
  float: left;
  margin: 0;
  padding: 0;
}

.footer li{
  color: #e2e2e2;
  display: inline;
  margin: 0 40px 0 0;
}

.footer{
  background-color: #000;
  padding: 40px 0;
}

.footer p{
  float: right;
  color: #e2e2e2;
}

.footer p{
  margin: 0 0 10px;
}
